-content_for :title, t('new_conversation')
.page-header
  %h2= t('new_conversation')
= form_tag messages_path, :id => 'message', method: :post do
  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-send"
    = link_to "", conversations_path, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
  %p
    = submit_tag 'Send', :style => "display: none;"
  .form-group
    = label_tag 'recipients', 'Choose recipients'
    = select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, class: 'form-control input chosen-it'
  .form-group
    = label_tag 'message[subject]', 'Subject'
    = text_field_tag 'message[subject]', nil, class: 'form-control input', required: true
  .form-group
    = label_tag 'message[body]', 'Message'
    = text_area_tag 'message[body]', nil, cols: 3, class: 'form-control input', required: true


:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#message').submit(); });
  });

:javascript
  jQuery(function() {
    $('.chosen-it').chosen({
      placeholder_text_single: " ",
      no_results_text: ""
    });
  });
