- content_for :title, t('notes')
.page-header
  %h2= t('notes')
= form_for @note, html: {id: :notes }  do |f|
  - if @note.errors.any?
    #error_explanation
      %h2= "#{pluralize(@note.errors.count, "error")} prohibited this note from being saved:"
      %ul
        - @note.errors.full_messages.each do |msg|
          %li= msg

  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-saved"
    = link_to "", notes_path, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
    .btn.btn-primary.navbar-btn
      = f.color_field :background_color
  %p

  .field
    = f.text_field :title, :class => "form-control input", :placeholder => t('title')
  .field
    = f.text_area :body, :class => "form-control lg-input"
  .actions
    = f.submit 'Save', :style => "display: none;"

:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#notes').submit(); });
  });
