- content_for :title, t('notes')
.page-header
  %h2= t('notes')
.btn-group-justified
  =link_to( '', new_note_path,:class => "btn btn-lg btn-primary glyphicon glyphicon-plus-sign")
%center
  .center
    %nav{"aria-label" => "..."}
      %ul.pager
        %li.previous
          = link_to_previous_page @notes, "<i class='glyphicon glyphicon-chevron-left'></i> #{t('previous')}".html_safe
        %li.next
          =link_to_next_page @notes, "#{t('next')}<i class='glyphicon glyphicon-chevron-right'></i>".html_safe

%p
- @notes.each_slice(2) do |note2|
  .row
    -note2.each do |note|
      .col-xs-6.col-ms-6.col-lg-6
        .child{:style => "background-color: #{note.background_color};"}
          .row
            .col-xs-12.col-lg-4
              = link_to '', edit_note_path(note), :class => "btn btn-default glyphicon glyphicon-edit"
              = link_to '', download_note_path(note), :method => :get, :class => "btn btn-default glyphicon glyphicon-download"
              = link_to '', note, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger glyphicon glyphicon-trash"
              \ 
              %p
            .col-xs-12.col-lg-8
              .truncate
                %p
                %h4{:style => "color: #{note.background_color};filter: invert(100%);"}
                  = note.title
          .row
            .col-xs-12{:style => "color: #{note.background_color};filter: invert(100%);"}= note.body.html_safe
