-content_for :title, t('settings')
.page-header
  %h2= t('settings')
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , id: :settings}) do |f|
  = devise_error_messages!
  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-saved"
    = link_to "", :back, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
  %p
  .field
    = f.label :prefix
    = f.text_field :prefix, class: "form-control input"
    %P
  .field
    = f.label :first_name
    = f.text_field :first_name, class: "form-control input"
    %P
  .field
    = f.label :middle_name
    = f.text_field :middle_name, class: "form-control input"
    %p
  .field
    = f.label :last_name
    = f.text_field :last_name, class: "form-control input"
    %p
  .field
    = f.label :suffix
    = f.text_field :suffix, class: "form-control input"
    %p
  .field
    = f.label :pin
    = f.number_field :pin, class: "form-control input"
    %p
  .field
    = f.label :email
    = f.text_field :email, class: "form-control input"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        = t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email)
    %p
  .field
    = f.label :password
    = f.password_field :password, autocomplete: "off", placeholder: t('.leave_blank_if_you_don_t_want_to_change_it'),  class: "form-control input"
    %p
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off", placeholder: t('.leave_blank_if_you_don_t_want_to_change_it'),  class: "form-control input"
    %p
  .field
    = f.label :current_password
    = f.password_field :current_password, autocomplete: "off", placeholder: t('.we_need_your_current_password_to_confirm_your_changes'),  class: "form-control input"
    %p
  .field
    = f.label :language
    = f.select :language, [['English', 'en'], ['日本語', 'ja'], ['中文', 'zh-CN'], ['Tagalog', 'tl']],{},{ :class => 'form-control input'}
    %p
  .field
    = f.label :home_unit
    = f.text_field :home_unit, class: "form-control input"
    %p
  .field.checkbox-inline
    = f.check_box :privacy, type: "checkbox"
    = f.label :privacy
  .actions
    = f.submit '', :style => "display: none;"
    %p
%p
  #{button_to t('.cancel_my_account'), registration_path(resource_name, :locale => current_user.language), data: { confirm: t('.are_you_sure') }, method: :delete, class: "btn btn-lg btn-danger btn-block"}

:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#settings').submit(); });
  });
