- content_for :title, t('.sign_up')
.page-header
  %h2= t('.sign_up')
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    .input-group
      %span#prefix-addon.input-group-addon= t('activerecord.attributes.user.prefix')
      = f.text_field :prefix, class: "form-control input","aria-describedby" => "prefix-addon"
  .field
    .input-group
      %span#first_name-addon.input-group-addon= t('activerecord.attributes.user.first_name')
      = f.text_field :first_name, class: "form-control input","aria-describedby" => "first_name-addon"
  .field
    .input-group
      %span#middle_name-addon.input-group-addon= t('activerecord.attributes.user.middle_name')
      = f.text_field :middle_name, class: "form-control input","aria-describedby" => "middle_name-addon"
  .field
    .input-group
      %span#last_name-addon.input-group-addon= t('activerecord.attributes.user.last_name')
      = f.text_field :last_name, class: "form-control input","aria-describedby" => "last_name-addon"
  .field
    .input-group
      %span#suffix-addon.input-group-addon= t('activerecord.attributes.user.suffix')
      = f.text_field :suffix, class: "form-control input","aria-describedby" => "suffix-addon"
  .field
    .input-group
      %span#pin-addon.input-group-addon= t('activerecord.attributes.user.pin')
      = f.number_field :pin, class: "form-control input","aria-describedby" => "pin-addon"
  .field
    .input-group
      %span#email-addon.input-group-addon= t('activerecord.attributes.user.email')
      = f.email_field :email,  autofocus: true, class: "form-control input","aria-describedby" => "email-addon"
  .field
    .input-group
      %span#password-addon.input-group-addon= t('activerecord.attributes.user.password')
      = f.password_field :password, autocomplete: "off", class: "form-control input","aria-describedby" => "password-addon"
  .field
    .input-group
      %span#password-confirmation-addon.input-group-addon= t('activerecord.attributes.user.password_confirmation')
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control input","aria-describedby" => "password-confirmation-addon"
  .field
    .input-group
      %span#account_type-addon.input-group-addon= t('activerecord.attributes.user.role')
      = f.select :account_type, [[t('student'), 3], [t('preceptor'), 2], [t('faculty'), 1], [t('root'), 0]], {}, { :class => 'form-control input' ,"aria-describedby" => "account_type-addon"}
  .field
    .input-group
      %span#language-addon.input-group-addon= t('activerecord.attributes.user.language')
      = f.select :language, [['English', 'en'], ['日本語', 'ja'], ['中文', 'zh-CN'], ['Tagalog', 'tl']],{},{ :class => 'form-control input' ,"aria-describedby" => "language-addon"}
  .field
    .input-group
      %span#home_unit-addon.input-group-addon= t('activerecord.attributes.user.home_unit')
      = f.text_field :home_unit, class: "form-control input","aria-describedby" => "home_unit-addon"
  .field
    =hidden_field_tag "locale", params[:locale]
  .actions
    %p
    = f.submit t('.sign_up'), class: 'btn btn-lg btn-primary btn-block'
    %p
= render "devise/shared/links"
