%li.list-group-item.clearfix
  = link_to conversation.subject, conversation_path(conversation), class: 'btn btn-lg btn-block'
  .btn-group-vertical.pull-right
    - if conversation.is_trashed?(current_user)
      = link_to '', restore_conversation_path(conversation), class: 'btn btn-lg btn-block btn-primary glyphicon glyphicon-repeat', method: :post
    - else                                                                           |
      - if conversation.is_unread?(current_user)
        = link_to '', mark_as_read_conversation_path(conversation),  class: 'btn btn-lg btn-block glyphicon glyphicon-unchecked btn-primary', method: :post
      -else
        = link_to '', mark_as_unread_conversation_path(conversation),  class: 'btn btn-lg btn-block glyphicon glyphicon-check btn-primary', method: :post
      = link_to '', conversation_path(conversation), class: 'btn btn-lg btn-danger btn-block glyphicon glyphicon-trash', method: :delete, data: {confirm: 'Are you sure?'}
  %p= render 'conversations/participants', conversation: conversation
  %p
    = conversation.last_message.body
    %small
      (
      %span.text-muted>= l conversation.last_message.created_at, format: :long
      )
