- conversation.participants.each do |participant|
  - unless participant == current_user
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        = (glyph(:pencil) + ' ' + participant.identifier) unless participant.nil?
