-content_for :title, t('conversations')
.page-header
  %h2= t('conversations')
.btn-group-justified
  =link_to( '', new_message_path,:class => "btn btn-lg btn-primary glyphicon glyphicon-plus-sign")
  = link_to '', empty_trash_conversations_path, class: 'btn btn-lg btn-danger glyphicon glyphicon-trash', method: :delete, |
          data: {confirm: t('empty_trash')}
%p
%center
  .center
    %ul.nav.nav-tabs
      = mailbox_section 'inbox', @box
      = mailbox_section 'sent', @box
      = mailbox_section 'trash', @box
    %nav{"aria-label" => "..."}
      %ul.pager
        %li.previous
          = link_to_previous_page @conversations, "<i class='glyphicon glyphicon-chevron-left'></i> #{t('previous')}".html_safe
        %li.next
          =link_to_next_page @conversations, "#{t('next')}<i class='glyphicon glyphicon-chevron-right'></i>".html_safe
%ul.list-group
  = render partial: 'conversations/conversation', collection: @conversations
