-content_for :title, t('reply_conversation')
.page-header
  %h2= t('reply_conversation')
%p
  \#{render 'conversations/participants', conversation: @conversation}
.panel.panel-default
  .panel-heading= @conversation.subject
  .panel-body
    .messages
      - @conversation.receipts_for(current_user).each do |receipt|
        .media
          - message = receipt.message
          .media-left
            = ""
          .media-body
            %h6.media-heading
              = message.sender.name
              =l message.created_at, format: :long
            = message.body
= form_tag reply_conversation_path(@conversation), :id => 'message', method: :post do
  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-send"
    = link_to "", conversations_path, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
  %p
  .form-group
    = label_tag 'message[body]', 'Message'
    = text_area_tag 'body', nil, cols: 3, class: 'form-control', required: true
  = submit_tag 'Send', :style => "display: none;"


:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#message').submit(); });
  });
