-content_for :title, t('.resend_unlock_instructions')
.page-header
  %h2= t('.resend_unlock_instructions')
= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .field
    .input-group.input-group-lg
      .input-group-addon
        %span.glyphicon.glyphicon-envelope
      = f.email_field :email, autofocus: true, :class => 'input form-control', placeholder: t('activerecord.attributes.user.email')
  .actions
    %p
    = f.submit t('.resend_unlock_instructions'), class: 'btn btn-lg btn-primary btn-block'
    %p
= render "devise/shared/links"
