-content_for :title, t('programs')
.page-header
  %h2= t('programs')
.btn-group-justified
  =link_to( '', new_program_path,:class => "btn btn-lg btn-primary glyphicon glyphicon-plus-sign")
%center
  .center
    %nav{"aria-label" => "..."}
      %ul.pager
        %li.previous
          = link_to_previous_page @programs, "<i class='glyphicon glyphicon-chevron-left'></i> #{t('previous')}".html_safe
        %li.next
          =link_to_next_page @programs, "#{t('next')}<i class='glyphicon glyphicon-chevron-right'></i>".html_safe
%table
  - @programs.each do |program|
    .panel.panel-default
      .panel-heading.clearfix
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          = link_to '', edit_program_path(program), :class => 'btn btn-lg btn-default glyphicon glyphicon-edit btn-block'
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          = link_to '', program, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-lg btn-danger glyphicon glyphicon-trash btn-block'
      .panel-body
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %span
            %h4= program.name
          %p
        
          
