- content_for :title, t('overseer_evaluation_form')
.page-header
  %h2= t('overseer_evaluation_form')
= form_for @overseer_evaluation_form, html: {id: :overseer_evaluation_form} do |f|
  - if @overseer_evaluation_form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@overseer_evaluation_form.errors.count, "error")} prohibited this overseer_evaluation_form from being saved:"
      %ul
        - @overseer_evaluation_form.errors.full_messages.each do |msg|
          %li= msg
  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-saved"
    = link_to "", root_path, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
  %p
  .field
    /= f.label :event
    = f.hidden_field :event_id, value: params[:event] unless params[:event].nil?
  .field
    /= f.label :overseer
    = f.hidden_field :overseer_id, value: params[:overseer] unless params[:overseer].nil?
  .field
    = f.label :f0
    = f.number_field :f0, class: 'form-control input'
  .field
    = f.label :f1
    = f.number_field :f1, class: 'form-control input'
  .field
    = f.label :f2
    = f.number_field :f2, class: 'form-control input'
  .field
    = f.label :f3
    = f.number_field :f3, class: 'form-control input'
  .field
    = f.label :f4
    = f.number_field :f4, class: 'form-control input'
  .field
    = f.label :f5
    = f.number_field :f5, class: 'form-control input'
  .field
    = f.label :f6
    = f.number_field :f6, class: 'form-control input'
  .field
    = f.label :f7
    = f.number_field :f7, class: 'form-control input'
  .field
    = f.label :comment
    = f.text_area :comment, class: 'form-control input'
  .actions
    = f.submit 'Save', :style => "display: none;"

:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#overseer_evaluation_form').submit(); });
  });
