-content_for :title, t('overseer_evaluation_form')
.page-header
  %h2= t('overseer_evaluation_form')
- @overseer_evaluation_forms.each do |overseer_evaluation_form|
  .panel.panel-default
    .panel-heading.clearfix
      = l overseer_evaluation_form.event.start, format: :long
    .panel-body
      = link_to overseer_evaluation_form.overseer.identifier, overseer_evaluation_form, class: 'btn btn-lg btn-block'

%br
