%center
  .center
    %nav{"aria-label" => "..."}
      %ul.pager
        %li.previous
          = link_to_previous_page @users, "<i class='glyphicon glyphicon-chevron-left'></i> #{t('previous')}".html_safe
        %li.next
          =link_to_next_page @users, "#{t('next')}<i class='glyphicon glyphicon-chevron-right'></i>".html_safe
- @users.each do |user|
  .panel.panel-default
    .panel-heading
      .row
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          = link_to '', edit_user_path(user), :class => 'btn btn-lg btn-default glyphicon glyphicon-edit btn-block'
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          = link_to '', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-lg btn-danger glyphicon glyphicon-trash btn-block'
    .panel-body
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          =user.identifier
