-content_for :title, t('events') + " | " +  @user.identifier
.page-header
  %h2= @user.identifier
= link_to (glyph(:pencil) + ' ' + @user.identifier), new_message_path(to: @user.id), class: 'btn btn-primary btn-lg btn-block'
-@user.contacts.each do |contact|
  =contact_link contact
