-content_for :title, t('.change_your_password')
.page-header
  %h2= t('.change_your_password')
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .field
    .input-group
      %span#new-password-addon.input-group-addon= t('.new_password')
      = f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control input","aria-describedby" => "new-password-addon"
  .field
    .input-group
      %span#password-confirmation-addon.input-group-addon= t('.confirm_new_password')
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control input","aria-describedby" => "password-confirmation-addon"
  .actions
    %p
    = f.submit t('.change_my_password'), class: 'btn btn-lg btn-primary btn-block'
    %p
= render "devise/shared/links"
