-content_for :title, t('time_course')
.page-header
  %h2= t('time_course')
= form_for @time_course, html: {id: :time_course, locale: current_user.language  } do |f|
  - if @time_course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@time_course.errors.count, "error")} prohibited this time_course from being saved:"
      %ul
        - @time_course.errors.full_messages.each do |msg|
          %li= msg
  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-saved"
    = link_to "", time_courses_path, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
  %p
  .field
  .form-group
    = f.label :course
    = f.select :course_id, @defined_courses,{ include_blank: true},{ class: 'form-control input chosen-it' }
  .field
    = f.label :instructor
    = f.autocomplete_field :instructor, autocomplete_faculty_users_path,fields: { instructor: "#instructor" }, :id_element => "#time_course_instructor_id", :update_elements => {}, :class => "form-control input", :value => (@time_course.instructor.identifier unless @time_course.instructor.nil?)
    = f.hidden_field :instructor_id
  %p
  .field
    = f.label :start
    = f.datetime_select :start
  %p
  .field
    = f.label :stop
    = f.datetime_select :stop
  .actions
    = f.submit 'Save', :style => "display: none;"
:javascript
  jQuery(function() {
    $('.chosen-it').chosen({
      placeholder_text_single: " ",
      no_results_text: ""
    });
  });

:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#time_course').submit(); });
  });
