%p#notice= notice

%p
  %b Course:
  = @time_course.course
%p
  %b Instructor:
  = @time_course.instructor
%p
  %b Start:
  = @time_course.start
%p
  %b Stop:
  = @time_course.stop

= link_to 'Edit', edit_time_course_path(@time_course)
\|
= link_to 'Back', time_courses_path
