- content_for :title, t('skill')
.page-header
  %h2= t('skill')
= form_for @skill, html: {id: :skills } do |f|
  - if @skill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@skill.errors.count, "error")} prohibited this skill from being saved:"
      %ul
        - @skill.errors.full_messages.each do |msg|
          %li= msg
  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-saved"
    = link_to "", skills_path, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
  %p
  .field
    = f.hidden_field :user_id, value: current_user.id, class: "form-control input"
  .form-group
    = f.label :defined_skill
    = f.select :defined_skill_id, @defined_skills,{ include_blank: true},{ class: 'form-control input chosen-it' }
  .field
    = f.hidden_field :level, value: 0,  class: "form-control input"
  .actions
    = f.submit 'Save', :style => "display: none;"
:javascript
  jQuery(function() {
    $('.chosen-it').chosen({
      placeholder_text_single: " ",
      no_results_text: ""
    });
  });

:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#skills').submit(); });
  });
