- content_for :title, t('skills')
.page-header
  %h2= t('skills')
.btn-group-justified
  =link_to( '', new_skill_path,:class => "btn btn-lg btn-primary glyphicon glyphicon-plus-sign")
%center
  .center
    %nav{"aria-label" => "..."}
      %ul.pager
        %li.previous
          = link_to_previous_page @skills, "<i class='glyphicon glyphicon-chevron-left'></i> #{t('previous')}".html_safe
        %li.next
          =link_to_next_page @skills, "#{t('next')}<i class='glyphicon glyphicon-chevron-right'></i>".html_safe

%p
- @skills.each do |skill|
  .panel.panel-default
    .panel-heading
      .row
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          =link_to '', skills_level_up_path(skill), class: "btn btn-lg btn-block btn-primary glyphicon glyphicon-arrow-up"
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          .btn.btn-lg.btn-block= t('level') + ' ' + skill.level.to_s
    .panel-body
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          =skill.defined_skill.name
