-content_for :title, t('level_up')
.page-header
  %h2= t('level_up')
= form_for @skill, html: {id: :skill, locale: current_user.language, :autocomplete => "off" }, :url => { :action => :level_up_update } do |f|
  - if @skill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@skill.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @skill.errors.full_messages.each do |msg|
          %li= msg

  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-arrow-up"
    = link_to "", skills_path, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
  %p
  .field
    .form-group
      = f.label :user
      = select_tag :overseer, overseer_options,multiple: false,class: 'form-control input chosen-it'
  .field
    .input-group
      %span#pin-addon.input-group-addon= t('activerecord.attributes.user.pin')
      = text_field_tag :pin, nil, autocomplete: "off", :autofocus => true, class: "form-control input","aria-describedby" => "pin-addon"
  .field
    = f.submit 'Save', :style => "display: none;"

:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#skill').submit(); });
  });
:javascript
  jQuery(function() {
    $('.chosen-it').chosen({
      placeholder_text_single: " ",
      no_results_text: ""
    });
  });
