%p#notice= notice

%p
  %b User:
  = @skill.user
%p
  %b Defined skill:
  = @skill.defined_skill
%p
  %b Level:
  = @skill.level

= link_to 'Edit', edit_skill_path(@skill)
\|
= link_to 'Back', skills_path
