- @now = DateTime.now()
.panel{:class => "panel-#{within(event)}"}
  .panel-heading.clearfix
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        -if current_user.has_power?
          = link_to '', edit_event_path(event), :class => "btn btn-default btn-lg btn-block glyphicon glyphicon-edit"
        %p
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        -if current_user.has_power?
          = link_to '', event, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-lg btn-block btn-danger glyphicon glyphicon-trash"
        %p
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        =t('activerecord.attributes.event.start')
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        =t('activerecord.attributes.event.stop')
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        = l event.start, format: :long
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        = l event.stop, format: :long
  .panel-body
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        =t('activerecord.attributes.event.student')
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        =t('activerecord.attributes.event.overseer')
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        =link_to(event.student.name, user_path(event.student)) unless event.student.nil?
        %p
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        =link_to(event.overseer.name, user_path(event.overseer)) unless event.overseer.nil?
        %p
    -if (@now > (event.stop - 15.minutes))
      .row
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          -if event.student && event.overseer
            -if current_user.id == event.overseer.id
              =link_to t('evaluate'),  (event.student_evaluation_form.nil? ? new_student_evaluation_form_path(event: event.id, student: event.student.id) : edit_student_evaluation_form_path(event.student_evaluation_form)), class: "btn btn-default btn-lg btn-block"
            -elsif current_user.has_power? && event.student_evaluation_form
              = link_to t('evaluate'), event.student_evaluation_form, class: "btn btn-default btn-lg btn-block"
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          -if event.overseer && event.student
            -if current_user.id == event.student.id
              =link_to t('evaluate'),  (event.overseer_evaluation_form.nil? ? new_overseer_evaluation_form_path(event: event.id, overseer: event.overseer.id) : edit_overseer_evaluation_form_path(event.overseer_evaluation_form)), class: "btn btn-default btn-lg btn-block"
            -elsif current_user.has_power? && event.overseer_evaluation_form
              = link_to t('evaluate'), event.overseer_evaluation_form, class: "btn btn-default btn-lg btn-block"
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        =t('activerecord.attributes.event.login')
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        =t('activerecord.attributes.event.logout')
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        %p
        -if event.login.nil?
          =link_to '', events_login_path(event), :class => "btn btn-default btn-lg btn-block glyphicon glyphicon-log-in"
        = l event.login, format: :long unless event.login.nil?
        %p
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        %p
        -if event.logout.nil?
          =link_to '', events_logout_path(event), :class => "btn btn-default btn-lg btn-block glyphicon glyphicon-log-out"
        = l event.logout, format: :long unless event.logout.nil?
      %p
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        = t('course')
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        = event.course.full_id unless event.course.nil?
    %p
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        =t('activerecord.attributes.event.location')
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        = link_to(event.location.identifier, event.location.googlemaps, :target => "_blank") unless event.location.nil?
