-content_for :title, t('event')
.page-header
  %h2= t('event')
= form_for @event, html: {id: :event, locale: current_user.language  } do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-saved"
    = link_to "", event_calendar_path, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
  %p
  .field
    = f.label :overseer
    = f.autocomplete_field :overseer, autocomplete_overseer_users_path,fields: { overseer: "#overseer" }, :id_element => "#event_overseer_id", :update_elements => {}, :class => "form-control input", :value => (@event.overseer.identifier unless @event.overseer.nil?)
    = f.hidden_field :overseer_id
    %p
  .field
    = f.label :student
    = f.autocomplete_field :student, autocomplete_student_users_path,fields: { student: "#student" }, :id_element => "#event_student_id", :update_elements => {}, :class => "form-control input", :value => (@event.student.identifier unless @event.student.nil?)
    = f.hidden_field :student_id
    %p
  .field
    .form-group
      = f.label :course
      = f.select :course_id, @time_courses,{ include_blank: true},{ class: 'form-control input chosen-it' }
    %p
  .field
    = f.label :start
    = f.datetime_select :start, locale: current_user.language
    %p
  .field
    = f.label :stop
    = f.datetime_select :stop, locale: current_user.language
    %p
  .field
    = f.label :login
    = f.datetime_select :login, locale: current_user.language
    %p
  .field
    = f.label :logout
    = f.datetime_select :logout, locale: current_user.language
    %p
  .field
    = f.label :location
    = f.autocomplete_field :location, autocomplete_locations_path, fields: { location: "#location" }, :id_element => "#event_location_id", :update_elements => {}, :class => "form-control input", :value => (@event.location.identifier unless @event.location.nil?)
    = f.hidden_field :location_id
  .field
    = f.submit 'Save', :style => "display: none;"

:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#event').submit(); });
  });
