.btn-group-justified
  -if current_user.has_power?
    = link_to( '', new_event_path,:class => "btn btn-lg btn-primary glyphicon glyphicon-plus-sign")
  = link_to('', events_calendar_path(@current.year, @current.month),:class => "btn btn-lg btn-primary glyphicon glyphicon-calendar")
  = link_to('', events_list_month_path(@current.year, @current.month),:class => "btn btn-lg btn-primary glyphicon glyphicon-list")
  = link_to('', event_todo_path, :class => 'btn btn-lg btn-primary glyphicon glyphicon-list-alt')
