-content_for :title, t('events') + " | " +  l(@current, format: :year_month)
.page-header
  %h2= l @current, format: :year_month
= render 'toolbar'
%center
  .center
    %nav{"aria-label" => "..."}
      %ul.pager
        %li.previous
          %a{:href => events_calendar_path(@older.year, @older.month)}
            .glyphicon.glyphicon-chevron-left
            =t('previous')
        %li.next
          %a{:href => events_calendar_path(@newer.year,@newer.month)}
            =t('next')
            .glyphicon.glyphicon-chevron-right
= bootstrap_calendar @current do |date|
  =date.day
  =link_to @events[date].nil? ? events_list_day_path(@current.year,@current.month, date.day) :events_list_day_path(@events[date].first.start.year,@events[date].first.start.month, @events[date].first.start.day) do
    .cal-box
      -if @events[date]
        %center
          %h3= @events[date].count
      -else
        %center
          %h3 &nbsp;
      %br
      %br
