-if params[:day]
  -content_for :title, t('events') + " | " +  l(@current, format: :long)
  .page-header
    %h2= l @current, format: :long
-elsif params[:year] && !params[:month]
  -content_for :title, t('events') + " | " +  l(@current, format: :year_month)
  .page-header
    %h2= l @current, format: :year
-else
  -content_for :title, t('events') + " | " +  l(@current, format: :year_month)
  .page-header
    %h2= l @current, format: :year_month

= render 'toolbar'
%center
  .center
    %nav{"aria-label" => "..."}
      %ul.pager
        %li.previous
          -if params[:day]
            %a{:href => events_list_day_path(@older.year, @older.month, @older.day)}
              .glyphicon.glyphicon-chevron-left
              =t('previous')
          -elsif params[:year] && !params[:month]
            %a{:href => events_list_year_path(@older.year)}
              .glyphicon.glyphicon-chevron-left
              =t('previous')
          -else
            %a{:href => events_list_month_path(@older.year, @older.month)}
              .glyphicon.glyphicon-chevron-left
              =t('previous')

        %li.next
          -if params[:day]
            %a{:href => events_list_day_path(@newer.year, @newer.month, @newer.day)}
              =t('next')
              .glyphicon.glyphicon-chevron-right
          -elsif params[:year] && !params[:month]
            %a{:href => events_list_year_path(@newer.year)}
              =t('next')
              .glyphicon.glyphicon-chevron-right
          -else
            %a{:href => events_list_month_path(@newer.year, @newer.month)}
              =t('next')
              .glyphicon.glyphicon-chevron-right
- @events.each do |date,event|
  -if @events[date]
    %center
      - @events[date].each do |event|
        = render 'event', event: event
