-content_for :title, t('activerecord.attributes.event.login')
.page-header
  %h2= t('activerecord.attributes.event.login')
= form_for @event, html: {id: :event, locale: current_user.language, :autocomplete => "off" }, :url => { :action => :login_update } do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-log-in"
    = link_to "", events_list_day_path(@event.start.year,@event.start.month, @event.start.day), :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
  .field
    %p
    .input-group
      %span#pin-addon.input-group-addon= t('activerecord.attributes.user.pin')
      = text_field_tag :pin, nil, autocomplete: "off", :autofocus => true, class: "form-control input","aria-describedby" => "pin-addon"
  .field
    = f.hidden_field :login, :value => DateTime.now

  .field
    = f.submit 'Save', :style => "display: none;"

:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#event').submit(); });
  });

