-content_for :title, t('master_clinical_log')
.page-header
  %h2= t('master_clinical_log')
%center
  .center
    %nav{"aria-label" => "..."}
      %ul.pager
        %li.previous
          = link_to_previous_page @master_clinical_logs, "<i class='glyphicon glyphicon-chevron-left'></i> #{t('previous')}".html_safe
        %li.next
          =link_to_next_page @master_clinical_logs, "#{t('next')}<i class='glyphicon glyphicon-chevron-right'></i>".html_safe
.container
  .table-responsive
    %table.table.table-condensed.table-hover
      %tr
        %th Student Name
        %th Course #
        %th Clinical Site
        %th Unit
        %th Preceptor
        %th Date
        %th Login time
        %th Logout time
        %th Total hours
      - @master_clinical_logs.each do |master_clinical_log|
        %tr
          %td= master_clinical_log.student.name unless master_clinical_log.student.nil?
          %td= master_clinical_log.course.course.number unless master_clinical_log.course.nil?
          %td= master_clinical_log.location.clinical_site unless master_clinical_log.location.nil?
          %td= master_clinical_log.location.unit unless master_clinical_log.location.nil?
          %td= master_clinical_log.overseer.name unless master_clinical_log.overseer.nil?
          %td= l(master_clinical_log.start.to_date, format: :long) unless master_clinical_log.start.nil?
          %td= master_clinical_log.login.strftime("%H%M") unless master_clinical_log.login.nil?
          %td= master_clinical_log.logout.strftime("%H%M") unless master_clinical_log.logout.nil?
          %td= time_diff(master_clinical_log.login,master_clinical_log.logout) unless (master_clinical_log.login.nil? || master_clinical_log.logout.nil?)

