%p#notice= notice

%p
  %b Overseer:
  = @event.overseer
%p
  %b Student:
  = @event.student
%p
  %b Course:
  = @event.course
%p
  %b Start:
  = @event.start
%p
  %b Stop:
  = @event.stop
%p
  %b Login:
  = @event.login
%p
  %b Logout:
  = @event.logout

%p
  %b Location:
  = @event.location

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
