-content_for :title, t('contact')
.page-header
  %h2= t('contact')
= form_for @contact, html: {id: :contacts } do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg
  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-saved"
    = link_to "", contacts_path, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
  %p
  .field
    = f.label :field
    = f.text_field :field, class: "form-control input"
  %p
  .field
    = f.label :type_field
    = f.select :type_field, [[t('activerecord.attributes.user.email'), 0], [t('mobile_phone'), 1], [t('telephone'), 2], [t('skype'), 3], [t('fax'), 4]],{},{ :class => 'form-control input'}
  .actions
    = f.submit 'Save', :style => "display: none;"
:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#contacts').submit(); });
  });
