-content_for :title, t('my_contact_information')
.page-header
  %h2= t('my_contact_information')
.btn-group-justified
  =link_to( '', new_contact_path,:class => "btn btn-lg btn-primary glyphicon glyphicon-plus-sign")
%center
  .center
    %nav{"aria-label" => "..."}
      %ul.pager
        %li.previous
          = link_to_previous_page @contacts, "<i class='glyphicon glyphicon-chevron-left'></i> #{t('previous')}".html_safe
        %li.next
          =link_to_next_page @contacts, "#{t('next')}<i class='glyphicon glyphicon-chevron-right'></i>".html_safe
%table
  - @contacts.each do |contact|
    .panel.panel-default
      .panel-heading.clearfix
        .col-lg-8.col-md-6.col-sm-6.col-xs-2
          .btn
            %span
              %h4= service_glyphicon(contact)
        .col-lg-4.col-md-6.col-sm-6.col-xs-10
          .btn-group-justified
            = link_to '', edit_contact_path(contact), :class => 'btn btn-lg btn-default glyphicon glyphicon-edit btn-block'
            = link_to '', contact, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-lg btn-danger glyphicon glyphicon-trash btn-block'
      .panel-body
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %span
            %h4= contact.field
          %p
        
          
