%p#notice= notice

%p
  %b Type:
  = @contact.type_field
%p
  %b Field:
  = @contact.field
%p
  %b User:
  = @contact.user

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
