-content_for :title, t('student_evaluation_form')
.page-header
  %h2= t('student_evaluation_form')
- @student_evaluation_forms.each do |student_evaluation_form|
  .panel.panel-default
    .panel-heading.clearfix
      = l student_evaluation_form.event.start, format: :long
    .panel-body
      = link_to student_evaluation_form.student.identifier, student_evaluation_form, class: 'btn btn-lg btn-block'

%br

/= link_to 'New Student evaluation form', new_student_evaluation_form_path
