%p#notice= notice
.button-group.btn-group-justified
  = link_to "", :back, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
%p
  %p
  %b Event:
  = l @student_evaluation_form.event.start, format: :long
%p
  %b= label :student_evaluation_form, :student
  = @student_evaluation_form.student.identifier
%p
  %b= label :student_evaluation_form, :f0
  = @student_evaluation_form.f0
%p
  %b= label :student_evaluation_form, :f1
  = @student_evaluation_form.f1
  %p
  %b= label :student_evaluation_form, :f2
  = @student_evaluation_form.f2
  %p
  %b= label :student_evaluation_form, :f3
  = @student_evaluation_form.f3
  %p
  %b= label :student_evaluation_form, :f4
  = @student_evaluation_form.f4
  %p
  %b= label :student_evaluation_form, :f5
  = @student_evaluation_form.f5
  %p
  %b= label :student_evaluation_form, :f6
  = @student_evaluation_form.f6
%p
  %b= label :student_evaluation_form, :comment
  = @student_evaluation_form.comment
