- content_for :title, t('links')
.page-header
  %h2= t('links')
= form_for @link, html: {id: :links } do |f|
  - if @link.errors.any?
    #error_explanation
      %h2= "#{pluralize(@link.errors.count, "error")} prohibited this link from being saved:"
      %ul
        - @link.errors.full_messages.each do |msg|
          %li= msg
  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-saved"
    = link_to "", links_path, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
  %p
  .field
    = f.label :location
    = f.text_field :location, :class => 'form-control input'
  .field
    = f.label :name
    = f.text_field :name, :class => 'form-control input'
  .field
    = f.label :account_type
    = f.select :account_type, [[t('everyone'), 4],[t('student'), 3], [t('preceptor'), 2], [t('faculty'), 1], [t('root'), 0]], {}, { :class => 'form-control input'}
  .field
    = f.label :protocol
    = f.select :protocol, [['File', 0], ['HTTP', 1],['HTTPS', 2], ['FTP', 3]], {}, { :class => 'form-control input'}
  .actions
    = f.submit 'Save', :style => "display: none;"

:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#links').submit(); });
  });
