- content_for :title, t('links')
.page-header
  %h2= t('links')
.btn-group-justified
  -if current_user.has_power?
    =link_to( '', new_link_path,:class => "btn btn-lg btn-primary glyphicon glyphicon-plus-sign")
%center
  .center
    %nav{"aria-label" => "..."}
      %ul.pager
        %li.previous
          = link_to_previous_page @links, "<i class='glyphicon glyphicon-chevron-left'></i> #{t('previous')}".html_safe
        %li.next
          =link_to_next_page @links, "#{t('next')}<i class='glyphicon glyphicon-chevron-right'></i>".html_safe
%p
- @links.each do |link|
  .panel.panel-default
    .panel-heading.clearfix
      .row
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          -if current_user.has_power?
            = link_to '', edit_link_path(link), :class => "btn btn-default btn-lg btn-block glyphicon glyphicon-edit"
            %p
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          -if current_user.has_power?
            = link_to '', link, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-lg btn-block btn-danger glyphicon glyphicon-trash"
            %p
    .panel-body
      = link.link_button
