%p#notice= notice

%p
  %b Location:
  = @link.location
%p
  %b Name:
  = @link.name
%p
  %b Account type:
  = @link.account_type

= link_to 'Edit', edit_link_path(@link)
\|
= link_to 'Back', links_path
