-content_for :title, t('description')
.img-responsive.center-block=image_tag'themes/default/sium.png', :class => 'img-responsive center-block', :style => 'width: 30%; max-width: 300px'
%br
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    .input-group.input-group-lg
      .input-group-addon
        %span.glyphicon.glyphicon-envelope
      = f.email_field :email, autofocus: true, :class => 'input form-control', placeholder: t('activerecord.attributes.user.email')
  .field
    .input-group.input-group-lg
      .input-group-addon
        %span.glyphicon.glyphicon-lock
      = f.password_field :password, autocomplete: "off", :class => 'input form-control', placeholder: t('activerecord.attributes.user.password')
  - if devise_mapping.rememberable?
    .field
      .input-group.input-group-lg
        .checkbox-inline
          %p
          = f.check_box :remember_me
          = f.label t('activerecord.attributes.user.remember_me')
          %p
  .field
    =hidden_field_tag "locale", params[:locale]
  .actions
    = f.submit t('.sign_in'), :class => 'btn btn-lg btn-primary btn-block'
%p
= render "devise/shared/links"
