= form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :completed
    = f.check_box :completed
  .field
    = f.label :time_course
    = f.text_field :time_course
  .actions
    = f.submit 'Save'
