/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/*
 *= require twitter-bootstrap-calendar
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'chosen';
@import 'bootstrap-chosen';

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}
.btn{
    margin-bottom:4px;
    white-space: normal;
}
/*
.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important;
    padding-bottom:5px !important;
    padding-left: 7px !important;
    padding-right: 0px !important;
    height: 48px;
}
*/
.navbar-brand > img {
   height:100%;
   display:inline;
}
/*
.navbar {
    min-height:48px !important;
    max-height: 48px !important;
}*/
/*
.btn-text{
    color: inherit;
    text-decoration: none;
}
*/
body { padding-top: 70px; }


textarea.form-control {
    height: 100%;
    min-width: 100%;
    min-height:500px;
}

/*.parent {
  width: 100%;
  border: 1px;
  float: left;
}*/

.child {
    width: 100%;
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
    pading-bottom: 15%;
    min-height: 256px;
    max-height: 256px;
    border: 1px solid;
    margin: .1em auto;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: wrap;
}

.parent {
    //overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.child-right {
    background:green;
    height: 100%;
    width: 100%;
    max-height: 128 px;
    //position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.row {
  overflow: hidden;
}
/*
[class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
*/
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.ui-widget-content .ui-state-focus  {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }

#container {
    display: block; 
    position:relative
} 
.ui-autocomplete {
    position: absolute;
}

.ui-helper-hidden-accessible { position: absolute; left:-999em; }

.ui-menu-item {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    .ui-state-active, .ui-state-hover {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      background-image: none;
    }

  }
