// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cal-box {
	width: 100%;
	height: 100%;
	//-moz-border-radius: 5px;
	//-webkit-border-radius: 5px;
	//border-radius: 5px;
	font-size: 30px;
	text-align: center;
}
