-content_for :title, t('defined_skill')
.page-header
  %h2= t('defined_skill')
= form_for @defined_skill, html: {id: :defined_skill, locale: current_user.language  } do |f|
  - if @defined_skill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@defined_skill.errors.count, "error")} prohibited this defined_skill from being saved:"
      %ul
        - @defined_skill.errors.full_messages.each do |msg|
          %li= msg
  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-saved"
    = link_to "", defined_skills_path, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
  %p
  .field
    = f.label :name
    = f.text_field :name, class: 'form-control input'
  %p
  .field
    = f.label :category
    = f.text_field :category, class: 'form-control input'
  %p
  .field
    = f.label :required_level
    = f.number_field :required_level, class: 'form-control input'
  .actions
    = f.submit 'Save', :style => "display: none;"

:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#defined_skill').submit(); });
  });


