-content_for :title, t('defined_skills')
.page-header
  %h2= t('defined_skills')
.btn-group-justified
  =link_to( '', new_defined_skill_path,:class => "btn btn-lg btn-primary glyphicon glyphicon-plus-sign")
%center
  .center
    %nav{"aria-label" => "..."}
      %ul.pager
        %li.previous
          = link_to_previous_page @defined_skills, "<i class='glyphicon glyphicon-chevron-left'></i> #{t('previous')}".html_safe
        %li.next
          =link_to_next_page @defined_skills, "#{t('next')}<i class='glyphicon glyphicon-chevron-right'></i>".html_safe
%table
  - @defined_skills.each do |defined_skill|
    .panel.panel-default
      .panel-heading.clearfix
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          = link_to '', edit_defined_skill_path(defined_skill), :class => 'btn btn-lg btn-default glyphicon glyphicon-edit btn-block'
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          = link_to '', defined_skill, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-lg btn-danger glyphicon glyphicon-trash btn-block'
      .panel-body
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            Name
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            = defined_skill.name
        %p
        .row
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            Category
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            Required Level
        .row
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            = defined_skill.category
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            = defined_skill.required_level
