%p#notice= notice

%p
  %b Name:
  = @defined_skill.name
%p
  %b Category:
  = @defined_skill.category
%p
  %b Required level:
  = @defined_skill.required_level

= link_to 'Edit', edit_defined_skill_path(@defined_skill)
\|
= link_to 'Back', defined_skills_path
