%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => authenticated_root_path}=image_tag('themes/default/sium.png', :title => t('description'), :alt => 'SIUM')
    #navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        -if current_user
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              =t('tools')
              %span.caret
            %ul.dropdown-menu
              %li= link_to t('events'), event_calendar_path
              %li= link_to t('conversations'), conversations_path
              %li= link_to t('links'), links_path
              %li= link_to t('notes'), notes_path
              %li= link_to t('skills'), skills_path
              -if current_user.has_power?
                %li= link_to t('master_clinical_log'), master_clinical_log_path
                %li= link_to t('programs'), programs_path
                %li= link_to t('defined_courses'), defined_courses_path
                %li= link_to t('time_courses'), time_courses_path
                %li= link_to t('defined_skills'), defined_skills_path
                %li= link_to t('locations'), locations_path
                %li= link_to t('student_evaluation_forms'), student_evaluation_forms_path
                %li= link_to t('overseer_evaluation_forms'), overseer_evaluation_forms_path
              -if current_user.admin?
                %li= link_to t('users'), users_path
        -if current_user
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = t('profile')
              %span.caret
            %ul.dropdown-menu
              %li= link_to t('my_contact_information'), contacts_path
              %li= link_to t('settings'), edit_user_registration_path

        -if current_user
          %li
            .navbar-form
              .form-group
                = form_for current_user, remote: true, html: { method: :put, :id => 'language_form', :name => "language_form"} do |f|
                  = f.select :language, [['English', 'en'], ['日本語', 'ja'], ['中文', 'zh-CN'], ['Tagalog', 'tl']], {:selected => current_user.language}, {:class => 'form-control', onchange: "$('#language_form').submit();" }
        -else
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = t('locale_name')
              %span.caret
            %ul.dropdown-menu
              %li= link_to "English", url_for(:reset_password_token => params[:reset_password_token], :locale => 'en')
              %li= link_to "日本語", url_for(:reset_password_token => params[:reset_password_token], :locale => 'ja')
              %li= link_to "中文", url_for(:reset_password_token => params[:reset_password_token], :locale => 'zh-CN')
              %li= link_to "Tagalog", url_for(:reset_password_token => params[:reset_password_token], :locale => 'tl')
        - if current_user
          %li= link_to '', destroy_user_session_path(:locale => current_user.language), :method => :delete,:class => "glyphicon glyphicon-off"
