-content_for :title, t('location')
.page-header
  %h2= t('location')
= form_for @location, html: {id: :location, locale: current_user.language  }  do |f|
  - if @location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@location.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - @location.errors.full_messages.each do |msg|
          %li= msg
  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-saved"
    = link_to "", locations_path, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
  %p
  .field
    = f.label :name
    = f.text_field :name, class: 'form-control input'
  %p
  .field
    = f.label :address_line1
    = f.text_field :address_line1, class: 'form-control input'
  %p
  .field
    = f.label :address_line2
    = f.text_field :address_line2, class: 'form-control input'
  %p
  .field
    = f.label :country
    = f.country_select :country, { priority_countries: [ "US", "GB", "TW", "JP", "HK", "DE", "CN", "CA"] , locale: ( !current_user.language.include?('zh') ? current_user.language : 'zh')}, { class: "form-control input"}
  %p
  .field
    = f.label :state
    = f.text_field :state, class: 'form-control input'
  %p
  .field
    = f.label :city
    = f.text_field :city, class: 'form-control input'
  %p
  .field
    = f.label :zip
    = f.text_field :zip, class: 'form-control input'
  %p
  .field
    = f.label :clinical_site
    = f.text_field :clinical_site, class: 'form-control input'
  %p
  .field
    = f.label :unit
    = f.text_field :unit, class: 'form-control input'
  .actions
    = f.submit 'Save', :style => "display: none;"

:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#location').submit(); });
  });

