%p#notice= notice

%p
  %b Name:
  = @location.name
%p
  %b Address line1:
  = @location.address_line1
%p
  %b Address line2:
  = @location.address_line2
%p
  %b Country:
  = @location.country
%p
  %b State:
  = @location.state
%p
  %b City:
  = @location.city
%p
  %b Zip:
  = @location.zip
%p
  %b Clinical site:
  = @location.clinical_site
%p
  %b Unit:
  = @location.unit

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
