-content_for :title, t('defined_course')
.page-header
  %h2= t('defined_course')
= form_for @defined_course, html: {id: :defined_course, locale: current_user.language  } do |f|
  - if @defined_course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@defined_course.errors.count, "error")} prohibited this defined_course from being saved:"
      %ul
        - @defined_course.errors.full_messages.each do |msg|
          %li= msg
  .button-group.btn-group-justified
    = link_to "", {}, id: "save", :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-saved"
    = link_to "", defined_courses_path, :class => "btn btn-lg btn-primary navbar-btn glyphicon glyphicon-remove-sign"
  %p
  .field
    = f.label :name
    = f.text_field :name, class: 'form-control input'
  %p
  .field
    = f.label :number
    = f.text_field :number, class: 'form-control input'
  %p
  .field
    = f.label :level
    = f.number_field :level, class: 'form-control input'
  .actions
    = f.submit 'Save', :style => "display: none;"
:javascript
  $(document).ready(function() {
  $('#save').on('click', function() { $('#defined_course').submit(); });
  });
