-content_for :title, t('defined_courses')
.page-header
  %h2= t('defined_courses')
.btn-group-justified
  =link_to( '', new_defined_course_path,:class => "btn btn-lg btn-primary glyphicon glyphicon-plus-sign")
%center
  .center
    %nav{"aria-label" => "..."}
      %ul.pager
        %li.previous
          = link_to_previous_page @defined_courses, "<i class='glyphicon glyphicon-chevron-left'></i> #{t('previous')}".html_safe
        %li.next
          =link_to_next_page @defined_courses, "#{t('next')}<i class='glyphicon glyphicon-chevron-right'></i>".html_safe
%table
  - @defined_courses.each do |defined_course|
    .panel.panel-default
      .panel-heading.clearfix
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          = link_to '', edit_defined_course_path(defined_course), :class => 'btn btn-lg btn-default glyphicon glyphicon-edit btn-block'
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          = link_to '', defined_course, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-lg btn-danger glyphicon glyphicon-trash btn-block'
      .panel-body
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %span
            %h4= defined_course.name.to_s + ' - ' + defined_course.number.to_s + ' - ' + defined_course.level.to_s
          %p
