%p#notice= notice

%p
  %b Name:
  = @defined_course.name
%p
  %b Number:
  = @defined_course.number
%p
  %b Level:
  = @defined_course.level

= link_to 'Edit', edit_defined_course_path(@defined_course)
\|
= link_to 'Back', defined_courses_path
