!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{content: "english", name: "language"}/
    %meta{content: "index,follow", name: "robots"}/
    %meta{content: "20 days", name: "revisit-after"}/
    %meta{content: "global", name: "distribution"}/
    %title
      ="SIUM" + (" | " + yield(:title) unless |
        yield(:title).blank?).to_s.html_safe |
    = favicon_link_tag 'themes/default/favicon.png'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    - if content_for?(:head)
      = yield(:head)

  %body
    =render :partial => "nav"
    .container
      .flash
        - flash.each do |key, value|
          -if key.to_s == 'notice'
            %div{:class => "alert bg-success alert-dismissible"}
              %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
                %span{"aria-hidden" => "true"} ×
              =  value
          -else
            %div{:class => "alert bg-danger alert-dismissible"}
              %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
                %span{"aria-hidden" => "true"} ×
              =  value

      =yield
%br
%br
%br
%br
%br
%br
%br
%br
